{% extends 'admins/adminbase.html' %}
{% block contents %}

<style>
    body{
        body{
            background: linear-gradient(45deg, #ff6b6b, #ffcc33);
            font-family: 'Comic Sans MS', cursive, sans-serif;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
    }
</style>

<div class="content"><br><br>
    <h2 class="text-center">Admin Homepage</h2>
     
    <div class="body">
        <img src="/static/assets/img/hero-bg.jpg" alt="" width="900" height="400" style="margin-left: 30px;">
    </div>
</div>
{% endblock %}

