{% extends 'base.html' %}
{% block contents %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .custom-card {
        min-height: 200px; /* Minimum height */
        max-width: 600px; /* Maximum width */
        margin: 20px auto; /* Center the card horizontally and add some margin */
        
    }
    
    h1 {
        font-size: calc(2rem + 2vw); /* Responsive font size */
        text-align: center; /* Center the text */
        color: blue; /* Text color */
    }
</style>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br><br><br><br>
                <h1>Classification of Sleep Disorders By Applying Machine Learning</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
